


<% if @websites.count == 0 %>
  <div class='row'>
    <div class=' col-md-offset-4'>
      <%= render partial: 'follow' %>
    </div>
    <p>You are currently following any sports.  If you would like to get updates click the button above to get 
    'packages' so that you get automatic updates for the sports you select!  By selecting sports packages, you
    automatically get updates from ESPN for the given sport, as well as that league's website. You can always add more sports later through the preferences link at the lower left corner of the page.</p>
    <div class='space-10'></div>
    <div class='divider-2'></div>
  </div>
<% end %>
<div class='row'>
  <div class='col-md-3'>
    <form action='/getAutoWebsites' method='post'>
      <input type='submit' value='Run a Scrape'>
    </form>
    <div class='space-10'></div>
    <form action='/getTweets' >
      <input type='submit' value='Get Tweets'>
    </form>
    <div class='space-10'></div>
    <div class='divider-2'></div>
    <h4>Words currently searching for:</h4>
    <div class='divider-2'></div>
    <% @words.each do |word| %>
      <p><%= word.word %></p>
    <% end %>
    
    <div class='space-10'></div>
    <div class='divider-2'></div>
    <h4>Websites currently scraping:</h4>
    <div class='divider-2'></div>
    <% if @websites.count == 0 %>
      <p>You are not currently scraping any websites.  You can add a full package by clicking the button at the top of the page.  Or click preferences below to add specific websites. 
      </p>
    <% end %>
    <% @websites.each do |website| %>
      <a href='<%= website.href %>' target="_blank"><%= website.href %></a><br>
    <% end %>
    <div class='space-10'></div>

    <div class='divider-2'></div>
    <a href="/preferences/<%=current_user.id%>"><h4>Preferences</h4></a>
    <div class='divider-2'></div>
    
  </div>
  <div class='col-md-6'>
    <h2>Articles</h2>
    <%= render partial: 'articles' %>
    <h2>Tweets</h2>
    <%= render partial: 'tweets' %>
  </div>



</div>